/*family*/
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* colors */
/* Basic setting */
html {
  font-size: 10px;
}
/*Typography */
body {
  font-family: 'ProximaNova_reg', sans-serif;
  margin: 0px;
  padding: 0;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /*2 раздел*/
  /*все под контент */
  /*p*/
  /*span*/
}
.main-content {
  margin-top: 10rem;
  /*zagolovoc*/
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  line-height: 1.45;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 6rem;
}
.main span {
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #70c849;
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.header {
  height: 7rem;
}
.phone {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  display: inline-block;
  line-height: 7rem;
  color: #000000;
  text-decoration: none;
}
/* colors */
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fbb203;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0,2s;
  transition: all 0,2s;
}
.text_2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 22px;
  margin-top: 3rem;
  text-transform: uppercase;
}
/*Главная форма*/
.main-form {
  background-color: #ffffff;
  text-align: center;
  padding: 4rem 5rem;
}
.form-zagolovoc {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.form-zagolovoc strong {
  font-size: 1.8rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
small {
  display: block;
  font-size: 1.2rem;
  margin-top: 1.7rem;
}
.button:hover {
  cursor: pointer;
  background-color: #df9e01;
}
a:hover {
  text-decoration: none;
}
button,
input,
a:focus {
  outline: none;
}
/*Оформление форм*/
.form {
  /*Кнопка отправить */
}
.form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
}
.form-button {
  display: inline-block;
  width: 100%;
  height: 6.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}
/*Оформление блока с преймуществами*/
section {
  padding: 10rem 0;
}
.section-header {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-align: center;
  margin-bottom: 13rem;
}
.features-block {
  text-align: center;
}
.featurse-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 7rem;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4rem;
}
.features-block p {
  font-size: 1.4rem;
  font-family: 'ProximaNova_reg', sans-serif;
  margin-bottom: 15rem;
  display: inline-block;
  width: 80%;
}
.a {
  color: green;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: 70%;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.prev {
  left: 0;
  background: url(../img/advantages/left-switch.png);
}
.next {
  right: 0;
  background: url(../img/advantages/right-switch.png);
}
/*Оформление модальных окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
}
.popup-znack {
  position: absolute;
  top: 1;
  right: -2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  width: 2rem;
  font-size: 3rem;
  color: #ffffff;
}
.popup-header {
  margin-bottom: -40px;
}
.popup h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup textarea {
  outline: none;
}
.ulo {
  text-align: right;
}
/*Блок с ценами*/
.prise {
  background: #0000ff url(../img/prise/prise-fon.jpg) repeat center;
  text-align: center;
}
.prise_h2 {
  color: #ffffff;
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.prise_p {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: 'ProximaNova_reg', sans-serif;
}
.prise_button {
  margin-top: 2rem;
}
.prise-block {
  padding: 2rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 65rem;
  margin-top: 10rem;
}
.prise-block h4 {
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.prise-block button {
  margin-top: 70px;
}
.prise-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 600;
  text-align: center;
}
.prise-list {
  margin-top: 5rem;
  height: 10rem;
  list-style: none;
}
.prise-list li:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/prise/prise-list-foto.jpg) no-repeat center;
  margin-right: 1rem;
  -webkit-box-sizing: 100%;
          box-sizing: 100%;
  vertical-align: middle;
}
.feedback {
  background-image: url(../img/block_reviews/reviews_fon.jpg);
  -webkit-box-sizing: 100;
          box-sizing: 100;
  position: relative;
}
.feedback-slider {
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 19px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 19px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #49bf15;
  border: none;
  width: 5rem;
  height: 6rem;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.p_feedblack {
  margin-bottom: 4rem;
}
.polzav h4 {
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.otzv {
  margin-top: 4rem;
  padding: 2rem;
  height: 10rem;
  width: 49.6rem;
  border: 0.2rem solid #49bf15;
  font-style: italic;
}
.otzv_2 {
  width: 2rem;
  height: 2rem;
  border: 2px solid #49bf15;
  position: absolute;
  top: 276px;
  left: 50px;
  border-bottom: 0.2rem solid white;
  border-top-left-radius: 50px;
}
.feedblack-form {
  background-color: #ffffff;
  margin-top: 5.9rem;
  padding: 4rem 10rem;
  text-align: center;
}
.feedblack-form h4 {
  margin-bottom: 5rem;
  font-size: 2.2rem;
}
.feedblack-form label {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
.tol {
  margin-top: 3rem;
}
.foto-arm {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
@media (max-width: 1199px) {
  .otzv {
    width: 395px;
    height: 50px;
    padding: 0;
  }
  .feedback-slider p {
    font-size: 1.1rem;
  }
  .otzv_2 {
    width: 2rem;
    height: 2rem;
    border: 2px solid #49bf15;
    position: absolute;
    top: 241px;
    left: 50px;
    border-bottom: 0.2rem solid white;
    border-top-left-radius: 50px;
  }
  .feedblack-form {
    background-color: #ffffff;
    margin-top: 5.9rem;
    padding: 4rem 10rem;
    text-align: center;
  }
  .feedblack-form h4 {
    margin-bottom: 5rem;
    font-size: 2.2rem;
  }
  .feedblack-form label {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
    font-size: 1.2rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .header {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .ulo {
    padding: 2rem 0;
    text-align: center;
  }
  .prise-block img {
    margin-left: 15%;
    display: block;
  }
  .feedback-slider_item {
    text-align: left;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
}
@media (max-width: 767px) {
  .main-content {
    padding-top: 100px;
  }
  .logo,
  .phone {
    margin-bottom: 50px;
  }
  .form {
    margin-top: 20px;
  }
  .prise-block img {
    margin-left: 10%;
    display: block;
  }
  .foto-arm {
    position: absolute;
    bottom: 0;
    left: -10%;
    max-width: 20rem;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .p_feedblack {
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 1.6rem;
  }
  .feedblack-form {
    background-color: #ffffff;
    margin-top: 5.9rem;
    padding: 4rem 10rem;
    text-align: center;
  }
  .feedblack-form h4 {
    margin-bottom: 5rem;
    font-size: 2.2rem;
  }
  .feedblack-form label {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
    font-size: 1rem;
  }
  .tol {
    font-size: 1.2rem;
    text-align: center;
  }
  .otzv {
    width: 264px;
    height: 50px;
    padding: 0;
  }
  .otzv_2 {
    width: 2rem;
    height: 2rem;
    border: 2px solid #49bf15;
    position: absolute;
    top: 241px;
    left: 50px;
    border-bottom: 0.2rem solid white;
    border-top-left-radius: 50px;
  }
}
@media (max-width: 475px) {
  .otzv_2 {
    width: 2rem;
    height: 2rem;
    border: 2px solid #49bf15;
    position: absolute;
    top: 256px;
    left: 50px;
    border-bottom: 0.2rem solid white;
    border-top-left-radius: 50px;
  }
}
